name: Build

on: workflow_dispatch

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install system deps
        run: |
          sudo apt update
          sudo apt install -y \
            ffmpeg \
            gettext \
            gcc python3-dev pkg-config \
            libgirepository-2.0-dev libcairo2-dev libadwaita-1-dev gir1.2-gstreamer-1.0 \
            libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-pulseaudio gstreamer1.0-alsa gstreamer1.0-tools gstreamer1.0-libav

      - uses: astral-sh/setup-uv@v7

      - name: Sync dependencies
        run: uv sync --extra nvidia --extra gui

      - name: Apply patches
        run: |
          patch -u -p1 -d .venv/lib/python3.13/site-packages < patches/increase_mms_time_limit.patch
          patch -u -p1 -d .venv/lib/python3.13/site-packages < patches/remove_ultralytics_telemetry.patch
          patch -u -p1 -d .venv/lib/python3.13/site-packages < patches/fix_loading_mmengine_weights_on_torch26_and_higher.diff

      - name: Compile translations
        run: bash translations/compile_po.sh

      - name: Package with PyInstaller
        run: |
          uv pip install pyinstaller
          uv run --no-sync pyinstaller --noconfirm ./packaging/windows/lada.spec -- --extra=nvidia

      - name: Create artifact
        run: tar -czf lada-linux.tar.gz -C dist lada

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: lada-linux
          path: lada-linux.tar.gz

#  build-macos:
#    runs-on: macos-latest
#    steps:
#      - uses: actions/checkout@v6
#
#      - name: Install Homebrew deps
#        run: brew install ffmpeg uv gtk4 libadwaita adwaita-icon-theme gstreamer
#
#      - uses: astral-sh/setup-uv@v7
#
#      - name: Sync dependencies
#        run: uv sync --extra cpu --extra gui

  build-windows-gtk-deps:
    runs-on: windows-latest
    env:
      GVSBUILD_VERSION: "2026.1.0"
    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - name: Restore cache
        id: cache-gvsbuild
        uses: actions/cache@v5
        with:
          path: C:\gtk-build
          key: gvsbuild-${{ env.GVSBUILD_VERSION }}

      - name: Build GTK4 and friends with gvsbuild
        if: steps.cache-gvsbuild.outputs.cache-hit != 'true'
        run: |
          uv tool install gvsbuild
          gvsbuild build --enable-gi --py-wheel gtk4 libadwaita pygobject adwaita-icon-theme

      - name: Package
        shell: pwsh
        run: Compress-Archive -Path C:\gtk-build\gtk\x64\release -DestinationPath gvsbuild-gtk4.zip

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: lada-gui-windows-dependencies
          path: gvsbuild-gtk4.zip
